<?php
/**
 * {{Vendor}} {{Package}}.
 *
 * {{description}}
 *
 * @package   {{VendorPC}}\{{PackagePC}}
 * @author    {{author}} <{{email}}>
 * @license   MIT
 * @link      {{url}}
 * @copyright {{year}} {{author}}, {{Vendor}}
 */

namespace {{VendorPC}}\{{PackagePC}};

/**
 * Class BoilerplateClass.
 *
 * @since  0.1.0
 *
 * @author {{author}} <{{email}}>
 */
class BoilerplateClass
{
    // TODO: Implement class.
}
